#backgroundbox {
    height: 176px;
    width: 600px;
    background-image: url("img/beachbackground.png");
}
#auto {
    background-image: url("img/redcar.png");
    height: 120px;
    width: 200px;
}
#key {
    background-image: url("img/keyon.png");
    height: 50px;
    width: 50px;

}
@-o-keyframes hide_show {
/* Opera */ 0% {opacity:1; } 
50% {opacity:0; } 
100% {opacity:1; } 
} 
@-ms-keyframes hide_show { /* Microsoft */ 
0% {opacity:1; } 
50% {opacity:0; } 
100% {opacity:1; } 
} 
@-moz-keyframes hide_show { /* Firefox */ 
0% {opacity:1; } 
50% {opacity:0; } 
100% {opacity:1; } 
} 
@-webkit-keyframes hide_show { /* Safari und Chrome*/ 
0% {opacity:1; } 
50% {opacity:0; } 
100% {opacity:1; } 
} 
@keyframes hide_show { 
0% {opacity:1; } 
50% {opacity:0; } 
100% {opacity:1; } 
} 

 